spring:
  application:
    name: hangover-project
  profiles:
    active: prod

server:
  port: 8081

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
