server:
  port: 8081

spring:
  profiles:
    active: prod
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  mail:
    host: smtp.gmail.com
    port: 587
    username: hyl020415@gmail.com
    password: "cqfxsqzqebppqmgx"   # Gmail 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        ssl:
          trust: smtp.gmail.com

jwt:
  secret: "this_is_a_very_long_secret_key_for_jwt_token_generation_123456" # 최소 32바이트
  expiration: 3600000   # 1시간 (ms)

logging:
  level:
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.mail: DEBUG

