spring:
  application:
    name: hangover-project

  profiles:
    active: local   # ?? ??? local ???? ??

  jpa:
    hibernate:
      ddl-auto: update   # ?? ????? update (??? validate ??)
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

server:
  port: 8081

---
spring:
  config:
    activate:
      on-profile: local

